body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1{
  text-align: center;
  margin: 20px;
  padding: 20px;
}
.todos{
  display: grid;
  grid-template-columns: repeat(4, minmax(0,1fr));
  padding: 30px;
  gap: 10px;
}
.todo{
  background-color: lightslategrey;
  color: white;
  padding: 15px;
}
.todo button{
  background-color: orange;
  border: none;
  padding: 8px;
  font-weight: 600;
  width: 100%;
  font-size: 15px;
}
.todo button:hover{
  background-color: rgb(247, 161, 0);
}
form{
  text-align: center;
}
.form_input label{
  font-size: 18px;
  font-weight: 700;
}
.form_input input{
  width: 25%;
  outline: none;
  padding: 7px;
  border-radius: 4px;
  border: 1.5px solid lightslategrey;
}
form button{
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: lightslategrey;
  border-radius: 4px;
  padding: 6px 10px;
  font-size: 15px;
  border-bottom: 4px solid orange;
  font-weight: 700;
  color: white;
  width: 6%;
}
form button:hover{
  background-color: rgb(105, 122, 138);
  border-bottom: 4px solid rgb(245, 159, 1);
}